/* ========================== */
/* CSS RESET */
/* ========================== */

:root {
  /* colors */
  --blue-300: #003082;
  --blue-200: #004BA0;
  --blue-100: #0063D3;

  --yellow: #FFC917;

  --error: #DB0029;
  --correct: #009A42;

  --black-500: #070721;
  --black-400: #6A6A7A;
  --black-300: #9C9CA6;
  --black-200: #B4B4BC;
  --black-100: #CDCDD3;
  --white: #fff;

  /* fonts */
  --heavy: 900;
  --extra-bold: 800;
  --bold: 700;
  --demi-bold: 600;
  --medium: 500;
  --light: 400;

  /* headings */

  /* paragraphs */

  /* padding */

  interpolate-size: allow-keywords;
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
a,
p,
form {
  font-family: 'nssans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
}

.disabled {
  display: none !important;
}


.skip:has(input:checked) {
  background-color: red;
}

form fieldset:nth-of-type(2):has(.skip:checked)>fieldset:nth-of-type(n + 2) {
  opacity: .3;
  pointer-events: none;
}

.upload {
  display: none;
}

form fieldset:nth-of-type(2):has(.expand:checked) .upload {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="date"] {
  background-color: var(--white);
  border: solid 1px var(--black-100);
  border-radius: 3px;
  padding: .5em;
}

label {
  color: var(--blue-300);
  display: block;
}



/* ========================== */
/* HEADER */
/* ========================== */

header {
  width: 100vw;
  height: 4em;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

header img {
  height: 100%;
  width: auto;
}