:root {
  /* colors */
  --blue-300: #003082;
  --blue-200: #004BA0;
  --blue-100: #0063D3;

  --yellow: #FFC917;

  --error: #DB0029;
  --correct: #009A42;

  --black-500: #070721;
  --black-400: #6A6A7A;
  --black-300: #9C9CA6;
  --black-200: #B4B4BC;
  --black-100: #CDCDD3;

  --white: #fff;
  --bg-color-100: #E6E6E8;
  --bg-color-200: #e6e6e855;

  /* fonts */
  --heavy: 900;
  --extra-bold: 800;
  --bold: 700;
  --demi-bold: 600;
  --medium: 500;
  --light: 400;

  interpolate-size: allow-keywords;
}


/* ========================== */
/* CSS RESET */
/* ========================== */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

fieldset {
  border: none;
}


/* ========================== */
/* UTILITY CLASSES */
/* ========================== */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.disabled {
  display: none !important;
}

.invalid-input {
  outline: 1px solid red;
}

/* ========================== */
/* GENERAL STYLING */
/* ========================== */

body {
  background-color: #E6E6E8;
}

h1,
h2,
h3,
h4,
a,
p,
form,
button,
a,
input::placeholder {
  font-family: 'nssans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: .8rem;
}

label,
legend {
  display: block;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
}

img {
  display: block;
  width: 100%;
}

input:user-valid {
  border-left: 5px var(--correct) solid !important;
  background-image: url('/images/valid.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

input:user-invalid {
  border-left: 5px var(--error) solid !important;
  background-image: url('/images/error.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="date"] {
  background-color: var(--white);
  border: solid 1px var(--black-100);
  border-radius: 3px;
  padding: .5em;
  width: 100%;
}

input::placeholder {
  opacity: .5;
}

label:has(input:checked) {
  color: var(--blue-100);
}

input[type="radio"] {
  accent-color: var(--correct);
}

a:active,
button:active {
  translate: 0 1px;
}

.button-container>a {
  border-radius: 3px;
  padding: 1em 4em;
  background-color: var(--blue-100);
  color: var(--white);
  font-size: 1em;
  box-shadow: inset 0 -2.5px 0 rgba(0, 0, 0, 0.3);
}

*:disabled {
  opacity: .3 !important;
  filter: saturate(0) !important;
  cursor: default !important;
  translate: 0 0 !important;
}


/* ========================== */
/* HEADER */
/* ========================== */

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  gap: 1em;
}

header:nth-of-type(1) {
  height: 2em;
  background-color: var(--error);
}

header:nth-of-type(1) p {
  font-weight: 800;
  color: var(--white);
}

header:nth-of-type(1) img {
  height: 16px;
  aspect-ratio: 1;
}

header:nth-of-type(2) {
  height: 4em;
  background-color: #FFC917;
}

header img {
  height: 100%;
  width: auto;
}


/* ========================== */
/* POPOVERS */
/* ========================== */

.popover-icon {
  height: 12px;
  aspect-ratio: 1;
  margin-left: 1em;
  anchor-name: --anchor-left;

  text-align: center;
  font-size: .7em;
  font-weight: 600;
  color: var(--blue-300);

  background-color: transparent;
  border: 1px solid var(--blue-300);
  border-radius: 50%;
}

.popover-result {
  position-anchor: --anchor-left;
  inset: 0;
  margin: 5px auto 0 auto;
  max-width: 75vw;
  top: anchor(bottom);
}

@media (min-width: 700px) {
  .popover-result {
    margin: 0 .5em 0 1em;
    inset: auto;
    top: calc(anchor(bottom) - 6px);
    right: anchor(left);
    translate: 0 -50%;
    max-width: 30em;
  }
}

.popover-result:popover-open {
  padding: 1em;
  border-radius: 3px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.125);
  border: none;
  position: absolute;
}



/* ========================== */
/* ERROR MESSAGE */
/* ========================== */

.error-message {
  background-color: var(--bg-color-200);
  padding: 2em 2em 2em 4em;
  border-left: 5px solid var(--error);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.error-message h2 {
  position: relative;
  color: var(--blue-300);
}

.error-message h2::before {
  content: '';
  position: absolute;
  height: 1em;
  aspect-ratio: 1;
  top: 0;
  left: -2em;

  background-image: url(/images/error-symbol.svg);
  background-repeat: no-repeat;
  background-size: 1em;
}

.error-message ul {
  column-count: 1;
  padding-left: 1em;
}


@media (min-width: 700px) {
  .error-message ul {
    column-count: 2;
  }
}


.error-message ul li {
  position: relative;
  color: var(--blue-300);
  margin-bottom: 0.5em;
  break-inside: avoid;
}

.error-message ul li::before {
  content: '';
  position: absolute;
  height: 5px;
  aspect-ratio: 1;
  background-color: var(--error);
  top: 50%;
  left: -1em;
  translate: 0 -50%;
}


/* ========================== */
/* DATE INPUT */
/* ========================== */

.fine {
  display: none;
}

@media (pointer: fine) {
  .coarse {
    display: none !important;
  }

  .fine {
    display: flex !important;
  }
}

@media (pointer: coarse) {
  .fine {
    display: none !important;
  }

  .coarse {
    display: flex !important;
  }
}



/* ========================== */
/* TARGET SYSTEM */
/* ========================== */

[id^="page-"] {
  display: block;
}

@supports selector(:target) {
  [id^="page-"] {
    display: none;
  }

  [id^="page-"]:target {
    display: block;
  }

  [id^="page-"] {
    scroll-margin: 500px;
  }

  /* credit: Vivanne */
  body:not(:has([id^=step]:target)) #step1 {
    display: grid;
  }
}